* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e0e0e0;
}

li {
    list-style-type: none;
    padding: 25px;
    margin-bottom: 25px;
    background: #e0e0e0;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    font-weight: 500;

    /* El secreto del Neumorfismo: Sombra oscura y Sombra clara */
    box-shadow: 9px 9px 16px #bebebe,
        -9px -9px 16px #ffffff;

    transition: all 0.2s ease;
}

/* Efecto al pasar el mouse (opcional) */
li:hover {
    box-shadow: 5px 5px 10px #bebebe,
        -5px -5px 10px #ffffff;
    transform: translateY(2px);
}

h1 {
    color: #333;
    font-family: "Vend Sans", sans-serif;
}

.toDoInput {
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 16px;
    padding-right: 40px;
    background: #e0e0e0;
    transition: all 0.2s ease;
}

.widthResponsive {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.inputButton {
    position: absolute;
    right: 10px;
    /* pegado al borde derecho del input */
    top: 50%;
    transform: translateY(-50%);
    /* centrado vertical */
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.trashButton:hover {
    color: #d80032;
}

@media (max-width: 991.98px) {
    .widthResponsive {
        width: 90%;
    }
}